/**
 * Requiem-Styles
 * (c) VARIANTE (http://variante.io)
 *
 * This software is released under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */

$modernizr-enabled = false

@require '../../node_modules/normalize.css/normalize.css'

@require 'mixins/selectors'
@require 'mixins/alignments'
@require 'mixins/attributes'
@require 'mixins/features'
@require 'mixins/media'

@require 'reset'
