extends ../layouts/base

block content
  main(data-r-controller='Playground', data-r-foo='bar')
    div(data-r-instance='a')
      div(data-r-controller='Bar', data-r-instance='b')
    div(data-r-instance='a')
    div(data-r-instance='a')
