/**
 * Requiem-Styles
 * (c) VARIANTE (http://variante.io)
 *
 * This software is released under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */

/**
 * Selector for label elements. Each element is meant to contain text only. For
 * optimal results, do not nest label elements. For italics, use <i>, and for
 * bold, use <b>. <a> is not treated as a label element and should only be used
 * to make a nested element a hyperlink.
 *
 * @param {string} $type:'all'  Type of the label (i.e. 'body', 'header', 'all')
 */
labels($type='all')
  if $type == 'all' or $type == 'body'
    p
      {block}
    li
      {block}
    em
      {block}
    strong
      {block}
    label
      {block}
    span[type='label']
      {block}

  if $type == 'all' or $type == 'header'
    h1
      {block}
    h2
      {block}
    h3
      {block}
    h4
      {block}
    h5
      {block}
    h6
      {block}

/**
 * Selects labels with the given instance name.
 *
 * @param {string} $instance:''  Instance name.
 */
label($instance='')
  if $instance == ''
    error('Instance name must be specified')
  else
    +labels()
      &[data-instance={$instance}]
        {block}

/**
 * Selects labels with the given class(es).
 *
 * @param {string} $class:''  Class(es).
 */
label-class($class='')
  if $class == ''
    error('Class must be specified')
  else
    +labels()
      &.{$class}
        {block}

/**
 * Selects labels with the given ID.
 *
 * @param {string} $id:''  ID.
 */
label-id($id='')
  if $id == ''
    error('ID must be specified')
  else
    +labels()
      &#{$id}
        {block}

/**
 * Selector for static elements.
 */
statics()
  form
    {block}

/**
 * Selector for button elements.
 */
buttons()
  a[type='button']
    {block}
  input[type='submit']
    {block}
  input[type='button']
    {block}
  input[type='checkbox']
    {block}
  input[type='file']
    {block}
  button
    {block}

/**
 * Selects buttons with the given instance name.
 *
 * @param {string} $instance:''  Instance name.
 */
button($instance='')
  if $instance == ''
    error('Instance name must be specified')
  else
    +buttons()
      &[data-instance={$instance}]
        {block}

/**
 * Selects buttons with the given class(es).
 *
 * @param {string} $class:''  Class(es).
 */
button-class($class='')
  if $class == ''
    error('Class must be specified')
  else
    +buttons()
      &.{$class}
        {block}

/**
 * Selects buttons with the given ID.
 *
 * @param {string} $id:''  ID.
 */
button-id($id='')
  if $id == ''
    error('ID must be specified')
  else
    +buttons()
      &#{$id}
        {block}

/**
 * Selector for hyperlinks.
 */
links()
  a:not([type='button'])
    {block}

/**
 * Selector for textfield input elements.
 */
textfields()
  input[type='text']
    {block}
  input[type='password']
    {block}
  input[type='number']
    {block}
  input[type='date']
    {block}
  input[type='month']
    {block}
  input[type='week']
    {block}
  input[type='time']
    {block}
  input[type='datetime']
    {block}
  input[type='datetime-local']
    {block}
  input[type='email']
    {block}
  input[type='search']
    {block}
  input[type='tel']
    {block}
  input[type='url']
    {block}
  textarea
    {block}

/**
 * Selects textfields with the given instance name.
 *
 * @param {string} $instance:''  Instance name.
 */
textfield($instance='')
  if $instance == ''
    error('Instance name must be specified')
  else
    +textfields()
      &[data-instance={$instance}]
        {block}

/**
 * Selects textfields with the given class(es).
 *
 * @param {string} $class:''  Class(es).
 */
textfield-class($class='')
  if $class == ''
    error('Class must be specified')
  else
    +textfields()
      &.{$class}
        {block}

/**
 * Selects textfields with the given ID.
 *
 * @param {string} $id:''  ID.
 */
textfield-id($id='')
  if $id == ''
    error('ID must be specified')
  else
    +textfields()
      &#{$id}
        {block}

/**
 * Selector for box elements.
 */
boxes()
  article
    {block}
  aside
    {block}
  details
    {block}
  dialog
    {block}
  summary
    {block}
  footer
    {block}
  header
    {block}
  main
    {block}
  figcaption
    {block}
  figure
    {block}
  hgroup
    {block}
  nav
    {block}
  section
    {block}
  div
    {block}
  table
    {block}
  tr
    {block}
  td
    {block}
  th
    {block}
  tbody
    {block}
  thead
    {block}
  tfoot
    {block}
  col
    {block}

/**
 * Selector for list elements.
 */
lists()
  ul
    {block}
  ol
    {block}
